<head>
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Home</h1>

<!--    leflet map with heatmap-->
<div id="map" style="width: 100%; height: 70%"></div>

    <div style="width: 80%; margin: 0 auto;">
        <canvas id="glassTypeHistogram"></canvas>
    </div>

    <div style="width: 80%; margin: 0 auto;">
        <canvas id="timeHistogram"></canvas>
    </div>


<script>

    const leafletMap = L.map(
        'map',
        {
            center: [{{ alc_map.center[0] }}, {{ alc_map.center[1] }}],
            crs: L.CRS.EPSG3857,
            zoom: {{ alc_map.zoom }},
            zoomControl: true,
        }
    );

    const baseLayer = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }
    );
    baseLayer.addTo(leafletMap);

    const heatmapLayer = L.heatLayer(
        {{ alc_map.heatmap }},
        {
            radius: 25,
            blur: 15,
            maxZoom: 18,
        }
    );
    heatmapLayer.addTo(leafletMap);

    const ctx = document.getElementById('glassTypeHistogram').getContext('2d');
    const glassTypeHistogram = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ glass_type_histogram.labels }},
            datasets: [{
                label: 'Glass Type',
                data: {{ glass_type_histogram.data }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    const timeHistogram = new Chart(document.getElementById('timeHistogram').getContext('2d'), {
        type: 'bar',
        data: {
            labels: {{ time_histogram.labels }},
            datasets: [{
                label: 'Time',
                data: {{ time_histogram.data }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>
