<head>
    <title>Bin ich ein Alki?</title>

    <style>

        html, body {
            margin: 0;
        }

        body {
            background-image: url("https://cdn.pixabay.com/photo/2012/04/13/11/53/glass-32068_960_720.png");
            background-repeat: repeat;
            background-size: 100px;
        }

        .content {
            background: rgba(161, 168, 70, 0.7);
            padding: 10px;
        }
    </style>


</head>
<body>

    <div class="content">

        <h1>Bin ich ein Alki?</h1>

        <p>Um das herauszufinden, exportiere hierfür deine Daten aus der App Beer With Me und lade sie hier hoch</p>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
